.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

main {
    padding: 1em;
}

footer {
    background-color: #282c34;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 60px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    color: gold;
    padding: 0.2em 1em;
    border: 0.1px solid gold;
    flex: 1 1 auto;
    text-decoration: none;
}

header nav a:hover {
    background-color: gray;
}

header nav a.active {
    background-color: white;
    border-bottom: none;
}